@import "var.scss";
@import "global.scss";

.error{
  .not-found{
    font-size: 2em;
    color: $color-black;
    margin-top: 30%;
  }
  .go-home{
    font-size: 1em;
    color: $color-grey;
    margin-top: 2em;
    .go-home-link{
      color: $color-blue;
    }
  }
  .is-play{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin-top: 2em;
  }
}
