@import "var.scss";
@import "global.scss";

.mint-swipe {
  height: 9em;
  color: #fff;
  margin: 0.5em 0.5em 0 0.5em;
  .mint-swipe-items-wrap {
    .mint-swipe-item {
      text-align: center;
    }
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
  }
}
