// color
$color-white: #ffffff;
$color-white-dark: #f7f7f7;
$color-grey: #8e98a2;
$color-red: #e1594b;
$color-blue: #26a2ff;
$color-blue-dark: #48658f;
$color-black: black;

// distance
$padding-out: 0 0.5em;
